em.tag {
    height: 20px;
    margin: 0px 5px;
    padding: 0px 5px 5px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 500;
    background-color:cornflowerblue;
    border-radius: .1cm;
}

li > a {
    color: black;
    text-decoration: none;
}
