{% extends 'base.html' %} {% block content %}

<h2>{{post.title}}</h2>
<p>{{post.content}}</p>
<div>
	<em>By: {{post.op.first_name}} {{post.op.last_name}}</em>
</div>
<div class="tags">
	<h6>Tags:</h6>
	{% for tag in post.tags %}
	<em class="tag">{{tag.name}}</em>
	{% endfor %}
</div>

<form action="/users/{{post.op.id}}">
	<button>Cancel</button>
</form>

<form action="/posts/{{post.id}}/edit">
	<button>Edit</button>
</form>

<form action="/posts/{{post.id}}/delete" , method="post">
	<button>Delete</button>
</form>

{% endblock %}
